<div class="body">
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                <h1  dir="rtl">ثبت نام</h1>
                <div>
                    <input class="text-center" type="text" placeholder="نام" name="nameU" id="nameU" [formControl]="nameU">  
                    <span [hidden]="nameU.valid || nameU.untouched" class="error"  dir="rtl">  
                        <div [hidden]="!nameU.hasError('minlength')">  
                            نام شما نمیتواند کمتر از سه حرف باشد.  
                        </div>  
                        <div [hidden]="!nameU.hasError('required')">  
                            نام را وارد کنید
                        </div>  
                    </span>  
                </div>
                <div>
                    <input class="text-center" type="email" placeholder="ایمیل" name="emailU" id="emailU" [formControl]="emailU">  
                    <span [hidden]="emailU.valid || emailU.untouched" class="error" dir="rtl">  
                        <div [hidden]="!emailU.hasError('minlength')">  
                            ایمیل نمیتواند کمتر از چهار حرف باشد.
                        </div>  
                        <div [hidden]="!emailU.hasError('required')">  
                            ایمیل را وارد کنید.
                        </div>  
                    </span>  
                </div>
                <div>
                    <input class="text-center" type="password" placeholder="پسورد" name="passwordU" id="passwordU" [formControl]="passwordU">  
                    <span [hidden]="passwordU.valid || passwordU.untouched" class="error" dir="rtl">  
                        <div [hidden]="!passwordU.hasError('minlength')">  
                            پسورد نمیتواند کمتر از چهار حرف باشد.
                        </div>  
                        <div [hidden]="!passwordU.hasError('required')">  
                            پسوورد را وارد کنید.
                        </div>
                        <br>
                    </span>  
                </div>
                <button dir="rtl" type="submit" [disabled]="!signUpForm.valid" class="submit">ثبت نام</button>  
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form [formGroup]="signInForm" (ngSubmit)="signIn()">
                <h1 dir="rtl">ورود</h1>
                <div>
                    <input class="text-center" type="email" placeholder="ایمیل" name="emailI" id="emailI" [formControl]="emailI">
                    <span [hidden]="emailI.valid || emailI.untouched" class="error" dir="rtl">  
                        <div [hidden]="!emailI.hasError('minlength')">  
                            ایمیل نمیتواند کمتر از چهار حرف باشد.
                        </div>  
                        <div [hidden]="!emailI.hasError('required')">  
                            ایمیل را وارد کنید.
                        </div>  
                    </span>  
                </div>
                <div>
                    <input class="text-center" type="password" placeholder="پسوورد" name="passwordI" id="passwordI" [formControl]="passwordI">  
                    <span [hidden]="passwordI.valid || passwordI.untouched" class="error" dir="rtl">  
                        <div [hidden]="!passwordI.hasError('minlength')">  
                            پسوورد نمیتواند کمتر از چهار حرف باشد.
                        </div>  
                        <div [hidden]="!passwordI.hasError('required')">  
                            پسوورد را وارد کنید.
                        </div>  
                    </span>  
                </div>
                <a href="#">پسوردتان را فراموش کردید؟</a>
                <button type="submit" [disabled]="!signInForm.valid" class="submit" dir="rtl">ورود</button>  
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left" dir="rtl">
                    <h1>سلام دوست عزیز!</h1>
                    <p>برای ساختن حساب شخصی در<strong> کجی</strong> اطلاعات خود را وارد کنید.</p>
                    <p>از قبل حساب شخصی دارید؟</p>
                    <button class="ghost" id="signIn" onclick="container.classList.remove('right-panel-active');">ورود</button>
                </div>
                <div class="overlay-panel overlay-right" dir="rtl">
                    <h1>خوش آمدید!</h1>
                    <p>لطفا با وارد کردن اطلاعاتتان وارد حساب شخصیتان در <strong>کجی</strong> شوید.</p>
                    <p>حساب شخصی در کجی ندارید؟</p>
                    <button class="ghost" id="signUp" onclick="container.classList.add('right-panel-active');">ثبت نام</button>
                </div>
            </div>
        </div>
    </div>
</div>