<div [class]="userPageInformation.theme">
    <div class="group-profile-container">
        <div class="group-profile">
            <div class="h2 text-right header" dir="rtl">
                <div class="button-panle p-3">
                    <button class="btn btn-dark text-white rounded-pill h6" (click)="back()">
                        <
                    </button>
                    <button *ngIf="userIsAddmin" class="btn btn-dark text-white ounded-pill h6" (click)="deleteGroup()">حذف</button>
                </div>
                <div class="text-center detail">
                    <p class="h1 mb-4">{{selectedGroup.name}}</p>
                </div>
            </div>
            <div class="body">
                <div dir="rtl" class="bio">
                    <span class="h5">توضیحات گروه: </span><span class="p-3"> {{selectedGroup.bio}}</span>
                </div>
                <div dir="rtl" class="link">
                    <span class="h5">لینک گروه: </span><span class="p-3"> {{selectedGroup.link}}</span>
                </div>
                <div style="position: relative;top:-8px;height: 15px; border-bottom: 2px solid black; background-color: rgb(36, 36, 36);"></div>
                <div dir="rtl" 
                    *ngFor="let user of selectedGroup.users"
                    class="user"
                    >
                    <span class="h4">نام کاربر: </span><span class="h5 p-3"> {{user.name}} </span>
                    <!-- <span class="h4 p-3">ایمیل کاربر: </span><span class="h5"> {{user.email}}</span> -->
                    <div class="h6 m-3 bg-dark text-white rounded-pill owner" *ngIf="selectedGroup.creator==user.email">سازنده</div>
                </div>
            </div>
        </div>
    </div>    
</div>