.body-container{
    position: absolute; display: flex;
    height: 100%; width: 100%;
    justify-content: center;
    align-items: center;
}
.body{
    position: absolute;
    width: 90%; height: 95%;
    border-radius: 30px;
    background: -webkit-linear-gradient(to right bottom, rgb(5, 67, 105), rgba(252, 0, 105, 0.562));
    background: linear-gradient(to right bottom, rgb(5, 67, 105), rgba(252, 0, 105, 0.562));
}