<div [class]="userPageInformation.theme">
    <div class="group-container">
        <div class="group">
            <div class="h2 text-right header" dir="rtl">
                <div class="button-panle p-3">
                    <button class="btn btn-dark text-white rounded-pill h6" (click)="back()">
                        <
                    </button>
                    <button class="btn btn-dark text-white ounded-pill h6" (click)="navigate('user/group/profile')">?</button>
                </div>
                <div class="">
                    قرار های این گروه
                </div>
            </div>
            <div dir="rtl" 
                *ngFor="let event of selectedGroup.events"
                 class="event"
                 (click)="showEvent(event)"
                 >
                 <span class="h4">عنوان قرار: </span><span class="h5 p-3"> {{event.title}}</span>
            </div>
            <div 
                dir="rtl"
                *ngIf="true"
                >
                <p class="h4 p-4">این گروه قراری ندارد.</p>
                <p><a (click)="navigate('user/createEvent')" class="h6 p-4">تنظیم قرار جدید</a></p>
            </div>
        </div>
    </div>
</div>