<div class="group-container">
    <div class="group">
        <div class="h2 text-right header" dir="rtl">
            <button class="btn btn-back-container bg-dark text-white rounded-pill h6" (click)="back()">
                <
            </button>
            <div class="">
                قرار های این گروه
            </div>
        </div>
        <div dir="rtl" 
            *ngFor="let event of selectedGroup.events"
             class="event"
             (click)="showEvent(event)"
             >
             <span class="h4">عنوان قرار: </span><span class="h5 p-3"> {{event.title}}</span>
        </div>
    </div>
</div>