.group-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.group{
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(61, 61, 61) ,-2px -2px 10px rgb(61, 61, 61);
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.582);
    overflow: auto;
}
.event{
    position: relative;
    top: -8px;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event:hover{
    background-color: rgba(169, 169, 169, 0.575);
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid black;
}
.button-panle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: 0;
    top: -8px;
    position: absolute;
}
.button-panle button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
}