<nav class="navbar navbar-expand-sm bg-dark navbar-dark" dir="rtl">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="../../../assets/logo.jpeg" alt="لوگو" style="width:40px;" class="rounded-pill">
      <span class="h3 m-4">کجی</span>
    </a>
    <button class="btn btn-info" (click)="navigate('login')">login</button>
  </div>
</nav> 
<div class="container-fluid body">
  <div class="row text-white">
    <div class="col-lg-8">
      <div class="container p-5">
        <strong class="display-3 h1">Hi! We can help you to set your appointments.</strong>
        <div class="line m-3"></div>
        <p class="h4">this site allows you to set your appointments as a group.</p>
        <p class="h4">you just need to login in our site.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="container text-center p-5">
        <img src="../../../assets/callender-icon.png" alt="Image" style="width:280px;" class="text-white h3 rounded-pill">
        <div class="p-5">
          <strong class="h1">کجی</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center p-5">
    <p class="h2">we are waiting for you . . .</p>
    <p class="h2">: )</p>
  </div>
  <div class="row bg-dark text-white p-5" dir="ltr">
    <div class="container text-center">
      <p><strong>creator: </strong>felan felan</p>
      <p><strong class="h4">connections</strong></p>
      <p><strong>email: </strong>felan@gmail.com</p>
      <p><strong>github: </strong>www.github.com/khoramism/koji</p>
      <p><strong>linkedIn: </strong>www.linkedin.com/in/felan</p>
    </div>
  </div>
</div>