<nav class="navbar navbar-expand-sm bg-dark navbar-dark" dir="rtl">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="">
      <img src="../../../assets/logo.jpeg" alt="لوگو" style="width:40px;" class="rounded-pill">
      <span class="h3 m-4">کجی</span>
    </a>
    <div>
      <button class="btn btn-info" style="margin-left: 1em;" (click)="navigate('user')" *ngIf="token">اکانت شما</button>  
      <button class="btn btn-info" (click)="navigate('login')">ورود</button>
    </div>
  </div>
</nav> 

<div class="container-fluid body">
  <div class="row text-white" dir="rtl">
    <div class="col-lg-8">
      <div class="pt-5" dir="rtl">
        <h1 class="display-3 h1 p-3 text-dark"> با کُجی قرار گذاشتن خیلیییی راحته . . .</h1>
        <div class="line m-3"></div>
        <ul class="">
          <li class="h4 p-4">سایت کجی به شما این امکان رو میده که قرار هاتون رو به صورت گروهی مدیریت کنید.</li>
          <li class="h4 p-4">شما تنها نیاز دارید که تو کجی <strong (click)="navigate('login')" class="text-dark h2">عضو شوید.</strong></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="text-center pt-5">
        <img src="../../assets/callender.webp" alt="Image" style="width:280px; " class="text-white h3 rounded-pill">
        <div class="p-5">
          <strong class="h1">کُجی</strong>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="row text-center p-5 text-white" dir="rtl">
    <p class="h2">منتظر شما هستیم . . .</p>
    <p class="h2">: )</p>
  </div>

  <div class="row bg-white" dir="rtl">
    <div class="col-lg-4">
      <div class="container text-center pt-5">
        <img src="../../assets/solutions.png" alt="Image" style="width:200px; height: 200px;" class="text-white h3 rounded-pill">
        <div class="pb-5">
          <strong class="h2 text-dark">هماهنگی و برنامه ریزی راحت قرارها با سایت کجی</strong>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="container text-center pt-5">
        <img src="../../assets/developers.png" alt="Image" style="width:200px; height: 200px;" class="text-white h3 rounded-pill">
        <div class="pb-5">
          <strong class="h2 text-dark">استفاده از بروز ترین تکنولوژی ها در پروژه کجی</strong>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="container text-center pt-5">
        <img src="../../assets/technology.png" alt="Image" style="width:200px; height: 200px;" class="text-white h3 rounded-pill">
        <div class="pb-5">
          <strong class="h2 text-dark">دسترسی راحت و سادگی استفاده از سایت کجی</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-dark text-white p-5" dir="ltr">
    <div class="container text-center">
      <p><strong>creators: </strong>mehty, alireza, iman</p>
      <p><strong class="h4">connections</strong></p>
      <p><strong>email: </strong>felan@gmail.com</p>
      <p><strong>github for backend: </strong><a href="https://www.github.com/khoramism/koji">www.github.com/khoramism/koji</a></p>
      <p><strong>github for frontend: </strong><a href="https://www.github.com/MahdiGhorbaniMQ/koji-front">www.github.com/MahdiGhorbaniMQ/koji-front</a></p>
      <p><strong>linkedIn: </strong>www.linkedin.com/in/felan</p>
    </div>
  </div>
</div>