.update-profile-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.update-profile{
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(61, 61, 61) ,-2px -2px 10px rgb(61, 61, 61);
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.582);
    overflow: auto;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(20, 20, 20);
    width: 100%;
    height: 120px;
}
.btn-back-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 5px;
    top: 40px;
}
.error{
    color: red;
}


.light{
    .header button{
        background-color: rgb(189, 142, 142);
        color: #000;
        border-color: rgb(189, 142, 142);
    }
    .update-profile{
        box-shadow: 2px 2px 5px rgb(172, 172, 172) ,-2px -2px 5px rgb(172, 172, 172);
        // background-color: rgba(63, 63, 63, 0.719);
        background-color: rgba(207, 204, 204, 0.719);
        color: #000;
    }

    .header{
        border-bottom: 2px solid rgb(20, 20, 20);
    }
}
.derakula{
    .header button{
        background-color: rgb(9, 95, 110);
        color: #ffffff;
        border-color: rgb(9, 95, 110);
    }
    .update-profile{
        box-shadow: 2px 2px 5px rgb(172, 172, 172) ,-2px -2px 5px rgb(172, 172, 172);
        background-color: rgba(88, 88, 88, 0.719);
        color: #fff;
    }
    .header{
        border-bottom: 2px solid darkgray;
    }
}
.fantasy{
    .header button{
        background-color: rgb(30, 162, 185);
        color: black;
        border-color: rgb(30, 162, 185);
    }
    .update-profile{
        background-color: rgba(172, 166, 209, 0.719);
        color: #000;
    }
    .header{
        border-bottom: 2px solid rgb(7, 7, 7);
    }
}