<div [class]="userPageInformation.theme">
    <div class="join-group-container">
        <div class="join-group">
            <div class="h2 text-right header" dir="rtl">
                <div>
                    جستجوی گروه
                </div>
                <button class="btn btn-back-container btn-dark text-white rounded-pill h6" (click)="back()">
                    <
                </button>
            </div>
            <div class="body" dir="rtl">
                <div class="result-container row mb-5" *ngIf="searchSuccess" dir="rtl">

                    <div mat-button [matMenuTriggerFor]="menu" class="result col-xs-12">
                        <br>
                        <p class="text-center pt-3">نام گروه: {{groupData.name}} </p>
                        <p class="text-center">اعضا: {{userProfiles.length}} </p>
                        <br>
                    </div>
                    <mat-menu #menu="matMenu">
                        <div mat-menu-item *ngFor="let user of userProfiles">{{user.firstName}} {{user.lastName}}</div>
                    </mat-menu>
                    <button class="btn btn-success join-btn m-3 col-xs-12 rounded-pill" style="width: 100%;" (click)="join()">
                        عضو شدن
                    </button>
                    
                    <br>
                    <div class=" text-center" dir="rtl">
                        <div *ngIf="isJoining">لطفا منتظر بمانید ...</div>
                        <div class="text-success" *ngIf="joinSuccess">عملیات موفقیت آمیز!</div>
                        <div class="text-danger" *ngIf="joinError">خطایی رخ داده است.</div>
                        <br>
                    </div>
                </div>
                <div class="mt-5 pt-3 row">
                    <input placeholder="لینک گروه" style="height: 40px;" class="p-3 col-xs-12" [(ngModel)]="groupLink">
                    <button class="btn btn-success col-xs-12 mt-3" (click)="search()">جستجو</button>
                </div>
                <div class="mt-3" dir="rtl">
                    <div *ngIf="isSearching">لطفا منتظر بمانید ...</div>
                    <div class="text-danger" *ngIf="searchError">گروه یافت نشد.</div>
                </div>
            </div>
        </div>
    </div>    
</div>