.event-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.event{
    box-shadow: 2px 2px 10px rgb(61, 61, 61) ,-2px -2px 10px rgb(61, 61, 61);
    position: absolute;
    border-radius: 15px;
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.582);
    overflow: auto;
}
.header{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    border-bottom: 2px solid black;
    flex-direction: column;
}
.body{
    position: absolute;
    top: 150px;
    width: 100%;
    // height: 70%;
    border-top: 2px solid black;
    border-top: none;
}
.navigate-panel{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid black;
}
.navigate-item{
    width: 33.33%;
    height: 98px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}
.navigate-item:hover{
    background-color: rgba(169, 169, 169, 0.575);
}
.selected{
    background-color: rgba(179, 176, 176, 0.575);
}
.conditions-container{
    position: absolute;
    top: 100px;
    // height: 90%;
    width: 100%;
    padding: 30px;
}
.conditions-container form{
    padding-right: 30px;
}
// .user-conditions{

// }
// .all-conditions{

// }
// .final-conditions{

// }
.places-container,.dates-container{
    display: flex;
    flex-wrap: wrap;
}
.place-item,.dates-item{
    width: fit-content;
    margin: 2px;
    border-radius: 5px;
}
.button-panle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: 0;
    top: -4px;
    position: absolute;
    height: 150px;
}
.button-panle button{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
}


.light{
    .header button{
        background-color: rgb(189, 142, 142);
        color: #000;
        border-color: rgb(189, 142, 142);
    }
    .event{
        box-shadow: 2px 2px 5px rgb(172, 172, 172) ,-2px -2px 5px rgb(172, 172, 172);
        // background-color: rgba(63, 63, 63, 0.719);
        background-color: rgba(207, 204, 204, 0.719);
        color: #000;
    }
    .navigate-panel{
        border-bottom: 2px solid rgb(20, 20, 20);
    }
    .header{
        border-bottom: 2px solid rgb(20, 20, 20);
    }
}
.derakula{
    .header button{
        background-color: rgb(9, 95, 110);
        color: #ffffff;
        border-color: rgb(9, 95, 110);
    }
    .event{
        box-shadow: 2px 2px 5px rgb(172, 172, 172) ,-2px -2px 5px rgb(172, 172, 172);
        background-color: rgba(88, 88, 88, 0.719);
        color: #fff;
    }
    .navigate-panel{
        border-bottom: 2px solid darkgray;
    }
    .header{
        border-bottom: 2px solid darkgray;
    }
}
.fantasy{
    .header button{
        background-color: rgb(30, 162, 185);
        color: black;
        border-color: rgb(30, 162, 185);
    }
    .event{
        background-color: rgba(172, 166, 209, 0.719);
        color: #000;
    }
    .navigate-panel{
        border-bottom: 2px solid rgb(7, 7, 7);
    }
    .header{
        border-bottom: 2px solid rgb(7, 7, 7);
    }
}