<div [class]="userPageInformation.theme">
    <div class="event-container">
        <div class="event">
            <div class="header">
                <div class="button-panle p-3">
                    <button class="btn btn-dark text-white rounded-pill h6" (click)="back()">
                        >
                    </button>
                    <button *ngIf="selectedEvent.owner==userInformation.userData.username" class="btn btn-dark text-white rounded-pill h6" (click)="saveConditions();navigate('user/group/event/setting');">تنظیمات</button>
                </div>
                <p class="text-center h2">{{selectedEvent.title}}</p>
            </div>
            <div class="body">
                <div class="navigate-panel">
                    <div 
                        class="navigate-item"
                        [ngClass]="{'selected':selectedItem=='user'}"
                        (click)="selectedItem='user'"
                    >
                        شرایط شما
                    </div>
                    <div
                        class="navigate-item"
                        [ngClass]="{'selected':selectedItem=='all'}"
                        (click)="selectedItem='all'"
                    >
                        شرایط بقیه افراد
                    </div>
                    <div
                        class="navigate-item"
                        [ngClass]="{'selected':selectedItem=='final'}"
                        (click)="selectedItem='final'"    
                    >
                        شرایط نهایی
                    </div>
                </div>
                <div class="conditions-container" >
                    <div
                        dir="rtl"
                        *ngIf="selectedItem=='user'"
                        class="user-conditions">
                        <h1>شرایط شما</h1>
                        <hr>
                        <form (ngSubmit)="setUserConditions()">
                            <div *ngIf="state.value==1">
                                <div class="mb-3" *ngIf="places.length!=0">
                                    <label for="place" class="h5">مکان هایی که میتوانید را انتخاب کنید</label><br>
                                    <br>
                                    <div class="places-container">
                                        <div class="place-item p-3" [ngClass]="{'bg-success':place.selected,'bg-danger':!place.selected}" *ngFor="let place of places;let i=index">
                                            <span class="p-3 text-white" (click)="changePlaceItemState(i)">{{place.title}}</span>
                                            <span mat-button [matMenuTriggerFor]="menu" class="p-3 text-white bg-dark">{{place.users.length}}</span>
                                            <mat-menu #menu="matMenu">
                                                <div mat-menu-item *ngFor="let user of place.users">{{user.firstName}} {{user.lastName}}</div>
                                            </mat-menu>
                                        </div>
                                    </div>
                                </div>
                                <hr *ngIf="places.length!=0">
                                <div class="mb-3" *ngIf="dates.length!=0">
                                    <label for="date" class="h5">تاریخ هایی که میتوانید را انتخاب کنید</label><br>   
                                    <br>
                                    <div class="dates-container">
                                        <div class="dates-item p-3" (click)="changeDateItemState(i)" [ngClass]="{'bg-success':date.selected,'bg-danger':!date.selected}" *ngFor="let date of dates;let i=index">
                                            <span class="p-3 text-white">{{date.title}}</span>
                                            <span mat-button [matMenuTriggerFor]="menu" class="p-3 text-white bg-dark">{{date.users.length}}</span>
                                            <mat-menu #menu="matMenu">
                                                <div mat-menu-item *ngFor="let user of date.users">{{user.firstName}} {{user.lastName}}</div>
                                            </mat-menu>
                                        </div>
                                    </div>
                                </div>
                                <hr *ngIf="dates.length!=0">
                            </div>
                            <div class="mb-3 h5">
                                <input (change)="changeState()" type="radio" value="1" name="state" id="state1" [formControl]="state" *ngIf="dates.length!=0||places.length!=0">
                                <label for="state1" checked *ngIf="dates.length!=0||places.length!=0">فقط با شرایطی که انتخاب کردم هستم</label><br checked *ngIf="dates.length!=0||places.length!=0">
                                <input (change)="changeState()" type="radio" value="2" name="state" id="state2" [formControl]="state">
                                <label for="state2">همه جوره هستم</label><br>
                                <input (change)="changeState()" type="radio" value="3" name="state" id="state3" [formControl]="state">
                                <label for="state3">کلا نیستم</label><br>
                            </div>
                            <hr>
                            <button [disabled]="selectedEvent.finalPlace != null || selectedEvent.finalDate != null" type="submit" class="submit btn btn-danger">ثبت شرایط</button>
                            <br><br>
                            <div *ngIf="submitStatus">منتظر بمانید...</div>
                            <div class="text-danger" *ngIf="selectedEvent.finalPlace != null || selectedEvent.finalDate != null">زمان رای گیری تمام شده است.</div>
                        </form>
                    </div>
                    <div
                        dir="rtl"
                        *ngIf="selectedItem=='all'"
                        class="all-conditions h5"
                    >
                        <div *ngFor="let condition of userInformation.conditions">
                            {{condition.firstName}} {{condition.lastName}}: 
                            <div *ngIf="condition.places.length>0">
                                <br><br>
                                مکان ها: <div *ngFor="let place of condition.places" class="bg-dark text-white rounded-pill m-3 p-3 text-center" style="width:fit-content; max-width: 90%; overflow: hidden;"> {{place}} </div>
                            </div>
                            <div *ngIf="condition.dates.length>0">
                                <br><br>
                                زمان ها: <div *ngFor="let date of condition.dates" class="bg-dark text-white rounded-pill m-3 p-3 text-center" style="width:fit-content; max-width: 90%; overflow: hidden;"> {{date}} </div>
                            </div>
                            <div *ngIf="condition.state == 2">
                                <br><br>
                                <span class="bg-success text-white rounded-pill p-3">همه جوره هست</span>
                            </div>
                            <div *ngIf="condition.state == 3">
                                <br><br>
                                <span class="bg-danger text-white rounded-pill p-3">کلا نیست</span>
                            </div>
                            <br>
                            <hr>
                        </div>
                    </div>
                    <div
                        dir="rtl"
                        *ngIf="selectedItem=='final'"
                        class="final-conditions text-center h2"
                    >
                        <div *ngIf="(selectedEvent.finalPlace != undefined && selectedEvent.finalPlace != '' )|| (selectedEvent.finalDate != undefined && selectedEvent.finalDate != '')">
                            <div *ngIf="selectedEvent.finalPlace != undefined || selectedEvent.finalPlace != ''">
                                {{selectedEvent.finalPlace}}
                                <hr>
                            </div>
                            <div *ngIf="selectedEvent.finalDate != undefined && selectedEvent.finalDate != ''">
                                {{selectedEvent.finalDate}}
                                <hr>
                            </div>
                            <div *ngIf="selectedEvent.descriptions != undefined && selectedEvent.descriptions != ''">
                                توضیحات: 
                                {{selectedEvent.descriptions}}
                                <hr>
                            </div>
                            <p class="h4">آیا با شرایط موافقید؟ </p>                            
                            <select class="btn btn-warning" name="userVote" (change)="setVote()" [(ngModel)]="userVote">
                                <option value="true">موافقم و حضور دارم</option>
                                <option value="false">موافق نیستم و حضور ندارم</option>
                                <option value="null">مشخص نیست</option>
                            </select>
                            <hr>
                            <div class="h4" *ngIf="selectedEvent.agreements!.length>0">
                                <br>
                                افرادی که با شرایط موافق اند: 
                                <span class="p-3 bg-dark text-white rounded-pill" dir="rtl">{{selectedEvent.agreements!.length}} نفر</span><br><br>
                                <div *ngFor="let agreement of selectedEvent.agreements">
                                    {{agreement.firstName}} {{agreement.lastName}}
                                    <br>
                                </div>
                                <hr>
                            </div>
                            <div class="h4" *ngIf="selectedEvent.disagreements!.length>0">
                                <br>
                                افرادی که با شرایط موافق نیستند: 
                                <span class="p-3 bg-dark text-white rounded-pill" dir="rtl">{{selectedEvent.disagreements!.length}} نفر</span><br><br>
                                <div *ngFor="let disagreement of selectedEvent.disagreements">
                                    {{disagreement.firstName}} {{disagreement.lastName}}
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="selectedEvent.finalPlace == undefined && selectedEvent.finalDate == undefined">
                            <br>
                            <h1 class="text-center h3">در حال حاضر شرایط نهایی مشخص نشده است.</h1>
                            <br>
                            <h1 class="text-center h5">سازنده رویداد باید در تنظیمات قرار به رای گیری خاتمه دهد تا شرایط نهایی مشخص شود.</h1>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>    
</div>