<div [class]="userPageInformation.theme">
    <div class="home-container">
        <div class="home">
            <div class="h2 text-center header">
                <div class=""> گروه های شما</div>
            </div>
            <div 
                dir="rtl"
                *ngFor="let item of userInformation.groups | keyvalue" 
                class="group"
                (click)="selectGroup(item.value)"
            >
                <span class="h4">نام گروه: </span><span class="h5 p-3">{{item.value.name}}</span>
            </div>
            <div 
                dir="rtl"
                *ngIf="userInformation.userData.groups.length==0"
                >
                <p class="h4 p-4">گروهی یافت نشد.</p>
                <p><a (click)="navigate('user/createGroup')" class="h6 p-4">ساختن گروه</a><a (click)="navigate('user/joinGroup')" class="h6">جستجوی گروه ها</a></p>
            </div>
        </div>
    </div>
</div>